body {
    margin: 0;
    font-size: 15px;
    font-family: arial, sans-serif;
    color: #3f4f57;
}
a {
    color: #3f4f57;
    opacity: 90%;
    text-decoration: none;
}
a:hover {
    color: #6a6f72;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#logo {
    display: inline-flex;
    flex-direction: row;
    align-self: center;
    margin-bottom: 1%;
}
#search-bar {
    display: inline-flex;
    flex-direction: column;
    align-content: center;
}
#google-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
#buttons {
    display: inline-flex;
    align-self: center;
    margin: 2.5%;
}
#search {
    width: 450px;
    max-width: 100%;
    align-self: center;
    background-image: url(images/search.png);
    background-position: 1px 0.4px;
    background-repeat: no-repeat;
    padding-left: 23px;
    border-radius: 7px;
    border-color: lightgray;
    height: 25px;
    font-size: 14px;
}
#country-box {
    background-color: lightgray;
    padding: 1%;
    border-bottom: 1px solid #7d858a;
}
#info-box {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    padding: 1%;
}